@import url("https://fonts.googleapis.com/css?family=Imprima");
@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Variable.ttf') format('truetype');
}

* {
    font-family: "Imprima";
}

:root {
    --black: #040112;
    --white: white;
    --violet: #df9aff;
    --blue-violet: #6825f5;
    --light-steel-blue: #a4abec;
    --opacity-text: rgba(255, 255, 255, .6);
    --midnight-blue: #1a1048;
    --dark-pink-gradient: #181048;
    --transparent: rgba(255, 255, 255, 0);
}

body {
    background: rgb(4, 1, 18);
    background: linear-gradient(0deg, rgba(4, 1, 18, 1) 0%, rgb(17, 5, 44) 100%);
    transition: 0.5s;
    padding: 10px;
}

.icon {
    transition: 0.5s;
    width: 5%;
    border-radius: 100%;
    background-color: #120a31;
}

.icon:hover {
    transform: scale(1.05) rotate(-10deg);
}

.centered {
    text-align: center;
}

.topbar {
    width: 100%;
    background-color: var(--black);
    border-radius: 120px;
}

.glowing-border {
    border: 2px solid transparent;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 0 10px var(--blue-violet);
    /* Basic outer shadow for subtle glow */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
text {
    color: white;
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 60%;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    gap: 2px;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.carousel-element-preload {
    transition: 0.5s;
    position: relative;
    flex: 0 0 auto;
    height: 100%;
    width: 250px;
    background-color: var(--midnight-blue);
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-element {
    background-color: var(--midnight-blue);
    transition: 0.5s;
    position: relative;
    flex: 0 0 auto;
    height: 100%;
    width: 250px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-element-preload:hover {
    transition: 0.08s;
    transform: scale(1.1);
    background-color: var(--light-steel-blue);
    border: 1px var(--blue-violet) solid;
    z-index: 9999;
}

.carousel-element:hover {
    transition: 0.08s;
    transform: scale(1.1);
    border: 1px var(--blue-violet) solid;
    z-index: 9999;
}

.carousel-element-preload::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 120px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
    animation: slide 2s infinite linear;
}

@keyframes slide {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.embedding {
    overflow: hidden;
    width: 100%;
    height: 30%;
    background-color: var(--black);
    border-radius: 10px;
}

.embedding-overflowable {
    width: calc(100% - 20px);
    height: 30%;
    background-color: var(--black);
    border-radius: 10px;
    height: max-content;
    padding: 10px;
}

.flexed {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.search {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: large;
    min-height: 50px;
}

.all-games-list {
    width: 100%;
    height: 100%;
}

.game-icon {
    transition: 0.5s;
    background-color: #120a31;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.game-icon:hover {
    transition: 0.1s;
    background-color: #120a31;
    transform: scale(1.2) rotate(5deg);
    box-shadow: 10px 5px 5px var(--light-steel-blue);
    z-index: 99;
    outline: 1px var(--white) solid;
}

.game-icon:active {
    filter: contrast(0.7);
    transform: scale(1.0) rotate(-5deg);
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    border: #040112 solid 10px;
    width: 100%;
    height: 100%;
}

.menu-bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0px;
}

button {
    transition: 0.1s;
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1f1452 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
}

button:hover {
    transform: scale(1.05);
}

.settings-button {
    transition: 0.1s;
    min-width: 140px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settings-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.banner {
    width: 100%;
    height: 10%;
    background-color: black;
    ;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(128, 71, 154);
    background: linear-gradient(90deg, rgba(128, 71, 154, 1) 0%, rgba(65, 12, 89, 1) 100%);
}

.min-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    z-index: 9999999;
    background-color: white;
}

.glassy {
    background: rgba(143, 124, 124, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.message {
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff !important;
    font-size: 18px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-shadow: rgb(75, 4, 133) -2px -2px, rgb(75, 4, 133) -2px -1px, rgb(75, 4, 133) -2px 0px, rgb(75, 4, 133) -2px 1px, rgb(75, 4, 133) -2px 2px, rgb(75, 4, 133) -1px -2px, rgb(75, 4, 133) -1px -1px, rgb(75, 4, 133) -1px 0px, rgb(75, 4, 133) -1px 1px, rgb(75, 4, 133) -1px 2px, rgb(75, 4, 133) 0px -2px, rgb(75, 4, 133) 0px -1px, rgb(75, 4, 133) 0px 0px, rgb(75, 4, 133) 0px 1px, rgb(75, 4, 133) 0px 2px, rgb(75, 4, 133) 1px -2px, rgb(75, 4, 133) 1px -1px, rgb(75, 4, 133) 1px 0px, rgb(75, 4, 133) 1px 1px, rgb(75, 4, 133) 1px 2px, rgb(75, 4, 133) 2px -2px, rgb(75, 4, 133) 2px -1px, rgb(75, 4, 133) 2px 0px, rgb(75, 4, 133) 2px 1px, rgb(75, 4, 133) 2px 2px;
}

.input-box {
    transition: 0.1s;
    min-width: 140px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1f1452 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.message-container {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5%;
    overflow-y: scroll;
    height: 70%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(16, 0, 46) 35%, rgb(32, 0, 81) 100%);
    border-radius: 10px;
}

.live-chat-button {
    transition: 0.1s;
    min-width: 140px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.live-chat-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

pre {
    color: white;
}

.live-chat-submit {
    position: absolute;
    bottom: 10%;
    width: 6.5%;
    height: 5%;
    right: 8%;
}

.live-chat-back {
    position: absolute;
    bottom: 1%;
    width: 6.5%;
    height: 5%;
    right: 4%;
}

.live-chat-private {
    position: absolute;
    bottom: 10%;
    width: 6.5%;
    height: 5%;
    right: 1%;
}

.system-message {
    padding: 10px;
    background-color: var(--blue-violet);
    width: max-content;
    height: 7%;
    border-radius: 10px 10px 10px 10px;
}

a {
    color: white;
}

.live-chat-dialog {
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

message-container #message,
message-container #message * {
    color: #ffffff !important;
    font-family: "Imprima";
    font-size: 18px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
}