@import url("https://fonts.googleapis.com/css?family=Imprima");

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Variable.ttf') format('truetype');
}

* {
    font-family: "Imprima";
    scrollbar-color: #1a1048;
}

:root {
    --black: #040112;
    --white: white;
    --violet: #df9aff;
    --blue-violet: #6825f5;
    --light-steel-blue: #a4abec;
    --opacity-text: rgba(255, 255, 255, .6);
    --midnight-blue: #1a1048;
    --dark-pink-gradient: #181048;
    --transparent: rgba(255, 255, 255, 0);
}

body {
    background: rgb(4, 1, 18);
    background: linear-gradient(0deg, rgba(4, 1, 18, 1) 0%, rgb(17, 5, 44) 100%);
    transition: 0.5s;
    padding: 10px;
    overflow-x: hidden;
    scrollbar-color: #181048;
}

s {
    color: var(--white);
    font-size: smaller;
    text-decoration: underline;
}

.icon {
    position: absolute;
    transition: 0.5s;
    width: 90px;
    outline-style: auto;
    outline-width: 1%;
    outline: white;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
}

.icon:hover {
    transform: scale(1.05) rotate(-10deg);
}

.centered {
    text-align: center;
}

.topbar {
    width: 100%;
    height: 100px;
    background-color: var(--black);
    border-radius: 120px;
}

.glowing-border {
    border: 2px solid transparent;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 0 10px var(--blue-violet);
    /* Basic outer shadow for subtle glow */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
text {
    color: white;
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 60%;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    gap: 8px;
    scroll-snap-type: x mandatory;
    scrollbar-color: #1a1048;
    scrollbar-width: thin;
}

.quote-text {
    font-size: smaller;
    color: rgba(255, 255, 255, 0.611);
}

.carousel-element-preload {
    transition: 0.5s;
    position: relative;
    flex: 0 0 auto;
    height: 80%;
    width: 12%;
    background-color: var(--midnight-blue);
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-element {
    background-color: var(--midnight-blue);
    transition: 0.5s;
    position: relative;
    flex: 0 0 auto;
    height: 80%;
    width: 210px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-element-preload:hover {
    transition: 0.1s;
    transform: scale(1.1);
    background-color: var(--light-steel-blue);
    border: 1px var(--blue-violet) solid;
    z-index: 9999;
}

.carousel-element:hover {
    transition: 0.1s;
    transform: scale(1.1);
    border: 1px var(--blue-violet) solid;
    z-index: 9999;
    font-size: 100%;
}

.carousel-element:hover .centerthing {
    visibility: visible;
    font-size: 100%;
    text-align: center;
}

.carousel-element-preload::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 120%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
    animation: slide 2s infinite linear;
}

@keyframes slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.embedding {
    overflow: hidden;
    width: 100%;
    height: 50%;
    background-color: var(--black);
    border-radius: 10px;
}

.embedding-overflowable {
    width: 100%;
    height: 50%;
    background-color: var(--black);
    border-radius: 10px;
    height: max-content;
    padding: 10px;
}

.flexed {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.search {
    position: absolute;
    width: 40%;
    height: 65%;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: large;
}

.all-games-list {
    width: calc(100% - 45px);
    height: 100%;
    padding: 20px;
}

.game-icon {
    transition: 0.5s;
    background-color: #120a31;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerthing {
    transition: 0.1;
    text-align: center;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    border-radius: 1%;
    font-size: 1px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.521)
}

.game-icon:hover {
    transition: 0.1s;
    background-color: #120a31;
    transform: scale(1.2) rotate(3deg);
    box-shadow: 10px 5px 5px var(--black);
    z-index: 99;
    outline: 1px var(--blue-violet) solid;
    font-size: 100%;
}

.game-icon:hover .centerthing {
    visibility: visible;
    text-align: center;
    font-size: 100%;
}

.a {
    bottom: 10%;
}

.game-icon:active {
    filter: contrast(0.7);
    transform: scale(1.0) rotate(-5deg);
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    border: #040112 solid 10px;
    width: 100%;
    height: 100%;
}

.menu-bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0px;
}

button {
    transition: 0.1s;
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1f1452 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
}

button:hover {
    transform: scale(1.05);
}

.settings-button {
    transition: 0.1s;
    min-width: 7%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    position: absolute;
    right: -2%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settings-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.banner {
    width: 100%;
    height: 10%;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(128, 71, 154);
    background: linear-gradient(90deg, rgba(128, 71, 154, 1) 0%, rgba(65, 12, 89, 1) 100%);
}

.min-img {
    height: 100%;
    border-radius: 10px;
}

.thumbnail {
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    z-index: 9999999;
    background-color: white;
}

.glassy {
    background: rgba(143, 124, 124, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.message {
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff !important;
    font-size: 18px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-shadow: rgb(75, 4, 133) -2px -2px, rgb(75, 4, 133) -2px -1px, rgb(75, 4, 133) -2px 0px, rgb(75, 4, 133) -2px 1px, rgb(75, 4, 133) -2px 2px, rgb(75, 4, 133) -1px -2px, rgb(75, 4, 133) -1px -1px, rgb(75, 4, 133) -1px 0px, rgb(75, 4, 133) -1px 1px, rgb(75, 4, 133) -1px 2px, rgb(75, 4, 133) 0px -2px, rgb(75, 4, 133) 0px -1px, rgb(75, 4, 133) 0px 0px, rgb(75, 4, 133) 0px 1px, rgb(75, 4, 133) 0px 2px, rgb(75, 4, 133) 1px -2px, rgb(75, 4, 133) 1px -1px, rgb(75, 4, 133) 1px 0px, rgb(75, 4, 133) 1px 1px, rgb(75, 4, 133) 1px 2px, rgb(75, 4, 133) 2px -2px, rgb(75, 4, 133) 2px -1px, rgb(75, 4, 133) 2px 0px, rgb(75, 4, 133) 2px 1px, rgb(75, 4, 133) 2px 2px;
}

.input-box {
    transition: 0.1s;
    min-width: 140px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1f1452 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.message-container {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5%;
    overflow-y: scroll;
    height: 70%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(16, 0, 46) 35%, rgb(32, 0, 81) 100%);
    border-radius: 10px;
}

.live-chat-button {
    transition: 0.1s;
    min-width: 7%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.live-chat-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.blank-button {
    transition: 0.1s;
    min-width: 7%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    position: absolute;
    right: 14%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blank-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

pre {
    color: white;
}

.live-chat-submit {
    position: absolute;
    bottom: 10%;
    width: 6.5%;
    height: 5%;
    right: 8%;
}

.live-chat-back {
    position: absolute;
    bottom: 1%;
    width: 6.5%;
    height: 5%;
    right: 4%;
}

.live-chat-private {
    position: absolute;
    bottom: 10%;
    width: 6.5%;
    height: 5%;
    right: 1%;
}

.system-message {
    width: max-content;
    height: min-content;
    border-radius: 10px 10px 10px 10px;
    margin-left: 30px;
}

a {
    color: rgb(133, 120, 255);
}

.live-chat-dialog {
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

message-container #message,
message-container #message * {
    color: #ffffff !important;
    font-family: "Imprima";
    font-size: 18px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
}

.search-button {
    transition: 0.1s;
    min-width: 3%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: #040112;
    border: #1a1048 solid;
    background-color: #120a31;
    color: white;
    font-size: larger;
    border: black solid px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-button:hover {
    transform: translate(-50%, -50%) rotate(1deg);
}

.follower {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: var(--violet);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
}


/*EPIC CSS. from william- get out*/

.container {
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: var(--blue-violet);
    text-shadow: 2px 2px 5px #000;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    color: var(--light-steel-blue);
    text-shadow: 1px 1px 3px #000;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.highlight {
    color: var(--light-steel-blue);
    font-weight: bold;
}

.feature-list {
    list-style-type: none;
    padding: 0;
}

.feature-list li {
    font-size: 1.2rem;
    background-color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.feature-list li span {
    font-weight: bold;
    color: var(--blue-violet);
}

.cta-button {
    background-color: var(--blue-violet);
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--blue-violet);
}

.emojis {
    font-size: 3rem;
}

.highlight-text {
    color: var(--blue-violet);
    font-weight: bold;
}

li {
    color: var(--light-steel-blue);
    background-color: black;
}

.flex-same-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.descriptor {
    transition: 1s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.rainbowText {
    display: inline-block;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(45deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #04F26C, #6500FF, #04F297);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
}

@-webkit-keyframes rainbowanim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes rainbowanim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbowanim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.top-flexed {
    position: absolute;
    white-space: nowrap;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

img {
    pointer-events: none;
}

.live-chat-ai {
    position: absolute;
    left: 50%;
    bottom: 1%;
    width: 6.5%;
    height: 5%;
    right: 4%;
}