https://localhost:7765 {
    cert  /etc/letsencrypt/live/www.project-sentinel.xyz/privkey.pem
    key   /etc/letsencrypt/live/www.project-sentinel.xyz/fullchain.pem
    reverse_proxy localhost:8080
}
