https://www.project-sentinel.xyz:7765 {
    tls /etc/letsencrypt/live/www.project-sentinel.xyz/fullchain.pem /etc/letsencrypt/live/www.project-sentinel.xyz/privkey.pem
    reverse_proxy http://localhost:8080
}
